page-home {}

.title {
    text-align: center;
}

.categories {
    padding: 0px !important;
    margin:0px !important;
}
.notfirst
{
    width: 95%;
    margin:2% 2.5%;
}
.lastone
{
    margin-bottom: 2%;
}
.image {
    position: relative;
    float: left;
    margin:0px !important;
}

.text {
    color: white;
    left: 0;
    position: absolute;
    text-align: center;
    top: 30%;
    font-size: 40px;
    width: 100%;
    font-weight: bold;
}
.yellow {
    color:#FACB1B;
}
ion-header,
ion-content
{
    margin-top:-5%;
  
}
// .content-ios
// {
//       background: #8c8c8c;
// }
ion-content
{
    height:102%;
}