page-my-job {
.toolbar-background-md,
.segment-md .segment-button,
.toolbar-background.toolbar-background-ios
{
        border-color: #FACB1B;
    background: #000;
    color: #FACB1B;
}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated

{
    border-color: #fff;
    color:#FACB1B;
}
.segment-ios .segment-button.segment-activated
{
    background-color: #FACB1B;
    color:#000;
}
.segment-ios .segment-button
{
    border-color:#FACB1B;
    color:#fff;
}
ion-item.item.item-block.item-ios,
ion-item.item.item-block.item-md
{
    width: 100%;

}
.list-md .item-block .item-inner
{
    border-color:#FACB1B;
}

.item-md h2
{
    font-size: 1.6em;
    text-align: center;
}
.item-md ion-thumbnail ion-img, .item-md ion-thumbnail img,
.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
    border-radius: 50%;
}
}
